@{
    ViewData["Title"] = "Home Page";
    
}

<div>
    <h1>Azure Cognitive Services</h1>
</div>
<div>
    <ul>
        <li>
            @Html.ActionLink("Vision API", "Index", "Vision")
        </li>
        <li>
            @Html.ActionLink("Key Phrase Extraction", "Index", "KeyPhraseExtraction")
        </li>
        <li>
            @Html.ActionLink("Validate Text", "ValidateText", "ContentModerator")
        </li>
        <li>
            @Html.ActionLink("Validate Images", "ValidateImage", "ContentModerator")
        </li>
    </ul>
</div>