@{
    ViewData["Title"] = "Home Page";
}

<div>
    <h1>Azure Cognitive Services</h1>
</div>
<div>
    <ul>
        <li>
            @Html.ActionLink("Vision API", "Index", "Vision")
        </li>
    </ul>
</div>